<h3>Home of <%= current_user.username %></h3>
<% @users.each do |user| %>

  <p>User: <%= user.username %> <%= is_owner(user) %> <%= link_to('Edit account', edit_user_registration_path) %></p>

  <%= verify_user(user) %>

<% end %>